* {
  box-sizing: border-box; }

li {
  list-style: none; }

.active {
  background: #e2d06a;
  color: #fff; }

header {
  background: #066063;
  position: fixed;
  z-index: 10;
  width: 100%; }
  header .nav-main {
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    flex: 1; }
    header .nav-main .logo {
      display: flex;
      align-items: center; }
      header .nav-main .logo a {
        color: #229599;
        margin-left: 50px;
        padding: 20px;
        font-size: 30px; }
        header .nav-main .logo a:hover {
          background: #e2d06a;
          color: #fff; }
    header .nav-main .desktop-menu {
      padding: 0;
      margin: 0 30px 0 0;
      display: flex;
      flex: 1;
      justify-content: flex-end;
      align-items: center; }
      header .nav-main .desktop-menu li {
        margin: 10px; }
        header .nav-main .desktop-menu li a {
          padding: 20px;
          font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
          font-size: 30px;
          text-decoration: none;
          color: #229599; }
          header .nav-main .desktop-menu li a:hover {
            background: #e2d06a;
            color: #fff; }
      @media screen and (max-width: 756px) {
        header .nav-main .desktop-menu {
          display: none; } }
    header .nav-main .mobile-nav-icon {
      font-size: 30px;
      padding: 20px;
      display: none;
      color: #229599; }
      header .nav-main .mobile-nav-icon a {
        color: #229599;
        padding: 20px; }
        header .nav-main .mobile-nav-icon a:hover {
          color: #fff;
          background: #e2d06a; }
      @media screen and (max-width: 756px) {
        header .nav-main .mobile-nav-icon {
          display: block;
          margin-right: 50px; } }
  header .mobile-nav {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #066063;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px; }
    header .mobile-nav a {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 25px;
      color: #229599;
      display: block;
      transition: 0.3s; }
      header .mobile-nav a:hover {
        color: #fff;
        background: #e2d06a; }
    header .mobile-nav .closebtn {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px;
      margin-left: 50px;
      padding: 0; }

footer .footer-main {
  position: absolute;
  width: 100%;
  bottom: 0;
  background: #066063;
  display: flex;
  justify-content: flex-end; }
  @media screen and (max-width: 756px) {
    footer .footer-main {
      justify-content: center; } }
  footer .footer-main ul {
    padding: 0;
    display: flex; }
    footer .footer-main ul li {
      padding: 0;
      margin-right: 80px; }
      @media screen and (max-width: 756px) {
        footer .footer-main ul li {
          margin-right: 40px;
          display: flex;
          justify-content: space-around; } }
      footer .footer-main ul li a {
        font-size: 40px;
        color: #229599; }
        footer .footer-main ul li a:hover {
          color: #fff; }
