.wrapper {
  margin: 0 auto;
  width: 80%;
  max-width: 1100px; }

* {
  box-sizing: border-box; }

li {
  list-style: none; }

.active {
  background: #e2d06a;
  color: #fff; }

header {
  background: #066063;
  position: fixed;
  z-index: 10;
  width: 100%; }
  header .nav-main {
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    flex: 1; }
    header .nav-main .logo {
      display: flex;
      align-items: center; }
      header .nav-main .logo a {
        color: #229599;
        margin-left: 50px;
        padding: 20px;
        font-size: 30px; }
        header .nav-main .logo a:hover {
          background: #e2d06a;
          color: #fff; }
    header .nav-main .desktop-menu {
      padding: 0;
      margin: 0 30px 0 0;
      display: flex;
      flex: 1;
      justify-content: flex-end;
      align-items: center; }
      header .nav-main .desktop-menu li {
        margin: 10px; }
        header .nav-main .desktop-menu li a {
          padding: 20px;
          font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
          font-size: 30px;
          text-decoration: none;
          color: #229599; }
          header .nav-main .desktop-menu li a:hover {
            background: #e2d06a;
            color: #fff; }
      @media screen and (max-width: 756px) {
        header .nav-main .desktop-menu {
          display: none; } }
    header .nav-main .mobile-nav-icon {
      font-size: 30px;
      padding: 20px;
      display: none;
      color: #229599; }
      header .nav-main .mobile-nav-icon a {
        color: #229599;
        padding: 20px; }
        header .nav-main .mobile-nav-icon a:hover {
          color: #fff;
          background: #e2d06a; }
      @media screen and (max-width: 756px) {
        header .nav-main .mobile-nav-icon {
          display: block;
          margin-right: 50px; } }
  header .mobile-nav {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #066063;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px; }
    header .mobile-nav a {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 25px;
      color: #229599;
      display: block;
      transition: 0.3s; }
      header .mobile-nav a:hover {
        color: #fff;
        background: #e2d06a; }
    header .mobile-nav .closebtn {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px;
      margin-left: 50px;
      padding: 0; }

.hero {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)), url("../Pictures/kari-shea-109894-unsplash.jpg");
  height: 700px;
  width: 1000;
  background-size: cover;
  background-position: 50% 20%;
  color: #fff; }

.hero-blog-example {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)), url("../Pictures/kenny-luo-553614-unsplash.jpg");
  height: 700px;
  width: 1000;
  background-size: cover;
  background-position: 50% 80%;
  color: #fff;
  opacity: 0.90; }

.hero-content {
  padding-top: 150px; }

.hero-content h1 p {
  margin-left: 50px; }

.hero-content a {
  color: #fff; }

.hero-content a {
  line-height: 0; }

.main-wrapper {
  min-height: 700px;
  padding: 50px 0; }

.blogCard {
  display: flex;
  margin: 50px 50px;
  padding: 50px; }
  .blogCard p {
    line-height: 1em; }

.blogPhoto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #e2d06a; }

.blog-preview {
  margin-left: 20px; }
  .blog-preview h2 {
    color: black; }
  .blog-preview a {
    color: black; }

@media (max-width: 770px) {
  .blogCard {
    flex-direction: column; }
  .blog-preview {
    margin-left: 0; } }
