/* * * * * * * * * * * * * * * * * * * * *
Hero
* * * * * * * * * * * * * * * * * * * * */
.hero {
    background: rgb(34, 149, 153);
    height: 400px;
    width: 1000;
}

.hero-content {
    padding-top: 150px;
}

.hero-content h1 p{
    margin-left: 50px;
}

a {
    color: black;
}


/* * * * * * * * * * * * * * * * * * * * *
Main
* * * * * * * * * * * * * * * * * * * * */
.main-wrapper {
    min-height: 700px;
    padding: 50px 0;
}

.blogCard {
    display:flex;
    height: 150px;
    margin: 70px 50px;
}

.blogPhoto {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background:rgb(226, 208, 106);
    font-size: 80px;
    padding: 0px 50px;
}

.blog-preview {
    margin-left: 20px;

}
.blogCard p {
    line-height: 1em;
}

i {
    color: rgb(70, 70, 70);
}

.hero-content a  {
    line-height: 0;
}

