* {
    box-sizing: border-box;
}

/////////Footer-Scetion////////

footer {
    background: rgb(75, 73, 73);
    padding: 20px;
    height: 200px;
    width: 100%; 
}
footer h1 {
    color: white;

    
}
footer a:hover { 
    text-decoration: none;
}
footer ul {    
    padding: 0; 
}
footer li {    
    list-style: none; 
}
footer a {
    text-decoration: none;
    color:rgb(241, 237, 237);
    font-size: 30px;
}
footer-div {
    display: flex;
}

.social-icons {
    display: flex;

}
.social-icons li {
    flex: 1;
}
