* {
    box-sizing: border-box;
}

li {
    list-style: none;
}

.active {
    background: $accent-color;
    color: $accent-color2;
}

header {
    background: $primary-color;
    position: fixed;
    z-index: 10;
    width: 100%;

    .nav-main {
        margin-left: auto;
        display: flex;
        justify-content: space-between;
        flex: 1;
            
        .logo {
            display: flex;
            align-items: center;

            a {
                color: $secondary-color;
                margin-left: 50px;
                padding: 20px;
                font-size: 30px;
                
            &:hover {
                background: $accent-color;
                color: $accent-color2; 
                }
            }
        }
   
        .desktop-menu {
            padding: 0;
            margin: 0 30px 0 0;
            display: flex;
            flex: 1;
            justify-content: flex-end;
            align-items: center;
            
            li {
                margin: 10px;
            
                a {
                    padding: 20px;
                    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                    font-size: 30px;
                    text-decoration: none;
                    color: $secondary-color; 
            
                &:hover {
                    background: $accent-color;
                    color: $accent-color2; 
                    }
                }
            }
        
            @media screen and (max-width: 756px) {
                  display: none;
            }
        }  
    
        .mobile-nav-icon {
        font-size: 30px;
        padding: 20px;
        display: none;
        color: $secondary-color;
        
            a {
                color: $secondary-color;
                padding: 20px;
            
                &:hover {
                    color: $accent-color2;
                    background: $accent-color;
                }
            }
        
            @media screen and (max-width: 756px) {
            display: block;
            margin-right: 50px;
            }
        }
    }
    
    .mobile-nav {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: $primary-color;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;

    a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: $secondary-color;
        display: block;
        transition: 0.3s;
    
        &:hover {
            color: $accent-color2;
            background: $accent-color;
        }
    }
    .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
        padding: 0;
        }
    }
}







