
.main-wrapper {
    min-height: 700px;
    padding: 50px 0;
}

.blogCard {
    display:flex;
    margin: 50px 50px;
    padding: 50px;
}

.blogPhoto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background:$accent-color;
}

.blog-preview {
    margin-left: 20px;
}

.blog-preview h2 a {
    color: black;
}

.blogCard p {
    line-height: 1em;
}


.hero-content a  {
    line-height: 0;
}


@media (max-width: 770px) {
    .blogCard {
        flex-direction: column;
    }
    .blog-preview {
        margin-left: 0;
    }
}